/*---Global---*/
body{
	margin:0;
	background:#fff url(../images/body-grad.jpg) repeat-x;
	font:14px "Courier New", Courier, monospace;
}
ul, p, h1, h2, h3, h4, h5{
	margin:0;
	padding:0;
}
ul, li{list-style:none;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
/*---GlobalEnd---*/
/*---Main---*/
#main{
	margin:0 auto;
	width:993px;
	overflow:hidden;
}
.container{
	background:url(../images/main-grad.png) repeat-y;
	width:100%;
	overflow:hidden;
	padding:40px 0 0;
}
/*---MainEnd---*/
/*---Header---*/
#header{
	background:url(../images/header.jpg) no-repeat 0 100%;
	width:100%;
	height:124px;
}
.logo{
	float:left;
	margin:30px 0 -65px 25px;
	width:223px;
	height:159px;
	display:inline;
}
.logo a{
	background:url(../images/logo.png) no-repeat;
	width:223px;
	height:159px;
	display:block;
	text-indent:-3000px;
	overflow:hidden;
	position:relative;
	cursor:pointer;
	z-index:100;
}
.topmenu{
	float:right;
	overflow:hidden;
	font-size:14px;
	font-weight:bold;
	margin:20px 0 0;
}
.topmenu li{
	display:inline;
	padding:0 14px 0 21px;
	background:url(../images/separator.gif) no-repeat 0 3px;
	margin:0 0 0 -2px;
}
.topmenu a{
	color:#373737;
	text-decoration:underline;
}
#header .topmenu a:hover{	text-decoration:none;}
#header .mainmenu{
	clear:right;
	float:right;
	font-size:21px;
	font-weight:bold;
	height:66px;
	overflow:hidden;
	margin:22px 10px 0;
	display:inline;
	width:700px;
}
#header .mainmenu li{
	float:left;
	background:url(../images/mainmenu-separator.gif) no-repeat 0 6px;
	margin:0 0 0 -2px;
	padding: 0 0 0 2px;
}
#header .mainmenu a{
	color:#f2f5eb;
	float:left;
	height:46px;
	padding:20px 20px 0 27px;
	margin:0 0 0 -2px;
}
#header .mainmenu a.active,
#header .mainmenu a:hover{
	color:#595858;
	text-decoration:none;
	background:url(../images/mainmenu-hover.gif) repeat-x;
	position:relative;
}
/*---HeaderEnd---*/
/*---Content---*/
#content{
	float:right;
	width:665px;
	overflow:hidden;
	padding:10px 40px 35px 30px;
}
#content h1{
	color:#373737;
	font-size:25px;
	line-height:35px;
}
#content .stars p{
	float:left;
	font-weight:bold;
	color:#373737;
}
#content .stars{
	padding:0 0 30px;
	background:url(../images/star-underline.gif) repeat-x 0 100%;
	margin:0 0 34px;
}
#content .stars li{
	float:left;
	padding:2px 2px 0;
}
#content .stars a{
	background:url(../images/star-inactive.jpg) no-repeat;
	display:block;
	width:13px;
	height:13px;
}
#content .stars a.active,
#content .stars a:hover{
	background:url(../images/star-active.jpg) no-repeat;
	text-decoration:none;
}
/*---ContentEnd---*/
/*---Column---*/
#column{
	width:238px;
	overflow:hidden;
	padding:0 0 0 20px;
	float:left;
}
#column .box-top{
	background:url(../images/submenu-top.jpg) no-repeat;
	padding:10px 0 0;
	overflow:hidden;
	width:100%;
}
#column .box-bottom{
	background:url(../images/submenu-bottom.jpg) no-repeat 0 100%;
	padding:0 0 10px;
	overflow:hidden;
	width:100%;
}
#column .box{
	background:url(../images/submenu-grad.jpg) repeat-y;
	padding:0 0 24px 17px;
}
#column h2{
	font-size:20px;
	line-height:49px;
	color:#373737;
}
#column ul{
	font-size:13px;
	line-height:32px;
	font-weight:bold;
}
#column ul a{color:#818378;}
/*---ColumnEnd---*/
/*---Footer---*/
#footer{
	background:url(../images/footer.png) no-repeat;
	width:100%;
	overflow:hidden;
	padding:0 0 10px;
	font:14px Arial, Helvetica, sans-serif;
}
#footer .left{
	float:left;
}
#footer .topmenu li{
	background:url(../images/footer-separator.jpg) no-repeat 0 2px;
	margin:0 0 0 -1px;
	padding:0 11px 0 13px;
}
#footer .topmenu a:hover{text-decoration:none;}
/*---FooterEnd---*/
/*---Misc---*/
#alphabet_div { margin-top:1.3em; }
#alphabet_div td.letter { color:#88a; }
*.hidden{visibility:hidden;}
*.conflict{color:#e44;}
/*---MiscEnd---*/
