/*---Global---*/
body{
	margin:20px;
	background:#fff;
	font:14px "Courier New", Courier, monospace;
}
ul, p, h1, h2, h3, h4, h5{
	margin:0;
	padding:0;
}
h1 { font-size:3em; color:#6f7ea6 }
ul, li{list-style:none;}
