.logo a{
	background:url(none.gif);
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='images/logo.png', sizingmethod='crop');
}
.container{
	background:url(none.gif);
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='images/main-grad.png', sizingmethod='scale');
}
#footer{
	background:url(none.gif);
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='images/footer.png', sizingmethod='crop');
}
