{% include "doctype" %}
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>SWYZL</title>
</head>
<body>
  
  <div>
    <div>Country Capital Cryptos</div>
    <div>75 puzzles</div>

    <form action="https://sandbox.google.com/checkout/api/checkout/v2/checkoutForm/Merchant/720813031805622" id="BB_BuyButtonForm" method="post" name="BB_BuyButtonForm">
        <input name="item_name_1" type="hidden" value="Country Capital Cryptos"/>
        <input name="item_description_1" type="hidden" value="75 puzzles"/>
        <input name="item_quantity_1" type="hidden" value="1"/>
        <input name="item_price_1" type="hidden" value="3.75"/>
        <input name="item_currency_1" type="hidden" value="USD"/>
        <input name="_charset_" type="hidden" value="utf-8"/>
        <input alt="" src="https://sandbox.google.com/checkout/buttons/buy.gif?merchant_id=720813031805622&amp;w=121&amp;h=44&amp;style=trans&amp;variant=text&amp;loc=en_US" type="image"/>
    </form>
  </div>
</body>
</html>
