<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content=
"Swyzl is a word puzzle game where you unscramble a secret message by guessing the hidden letter-to-letter code." />
<meta name="keywords" content="puzzle, word puzzle, crypto, cryptology" />
<meta name="viewport" content=
  "width=800; initial-scale=0.4; maximum-scale=1.0; user-scalable=1;" />
<link href="/media/all.css" rel="stylesheet" type="text/css" />
<!--[if lt IE 7]><link href="media/ie.css" rel="stylesheet" type="text/css" /><![endif]-->
  
  <style>
    h2 { margin-top:.3em;}
    div.pack { margin-top:0.4em; }
    select { font-size:1.5em; }
    *.link_to_tips { font-size:2.5em; }
  </style>
  <title>Swyzl</title>
</head>
<body>
  <h1>Swyzl</h1>
  <br/>
  <div class="pack_set">
    <h2>Choose a Cryptogram</h2>
    
      <div class="pack">
        <select name="Jewels" onChange="goToPuzzle(this.options[this.selectedIndex].value)">
          <option value="">Jewels</option>
          
            <option value="/puzzle/1/1">1</option>
          
            <option value="/puzzle/1/2">2</option>
          
            <option value="/puzzle/1/3">3</option>
          
            <option value="/puzzle/1/4">4</option>
          
            <option value="/puzzle/1/5">5</option>
          
            <option value="/puzzle/1/6">6</option>
          
            <option value="/puzzle/1/7">7</option>
          
            <option value="/puzzle/1/8">8</option>
          
            <option value="/puzzle/1/9">9</option>
          
            <option value="/puzzle/1/10">10</option>
          
        </select>
      </div>
    
      <div class="pack">
        <select name="Presidents" onChange="goToPuzzle(this.options[this.selectedIndex].value)">
          <option value="">Presidents</option>
          
        </select>
      </div>
    
      <div class="pack">
        <select name="Country Capitals" onChange="goToPuzzle(this.options[this.selectedIndex].value)">
          <option value="">Country Capitals</option>
          
        </select>
      </div>
    
  </div>
  <br/>
  <h2>Introduction</h2>
  <p>Julia was puzzled by many things, but not by puzzles. She would arrange the letters in her mind as 
	she lay in bed, then spoke them to her computer once she arose. None of the puzzles here were 
	machine generated. They are the thoughtful result of an active mind, keen on her task to the very end. </p>
  <br/>
  <p>We hope that you enjoy solving them as much as she enjoyed writing them. Choose from the books above to get started.</p>
  <br/> 
  <p>If you aren't sure what a Cryptogram is, check out our <span class="link_to_tips"><a href="tips">tips</a></span>.</p>
  <br/>
  <div>
    <a href="/about">Credits</a> | <a href="mailto:issac.trotts+swyzl@gmail.com">Feedback</a>
  </div>
  
  <script type="text/javascript">var BACKSPACE = 8;
var IPHONE_BACKSPACE = 127;
var SPACE = 32;
var SHIFT_TAB = 16;
var LEFT_ARROW = 37;
var RIGHT_ARROW = 39;
var TAB = 9;

/**
 * Returns the base url.
 *
 * @param loc: window.location
 */
function getBaseUrl(loc) {
  var baseUrl = 'http://' + loc.hostname;
  if (loc.port) {
    baseUrl = baseUrl + ':' + loc.port; 
  }
  return baseUrl;
}

function goBackToIndex() {
  window.location = getBaseUrl(window.location);
}

function isLetterCode(code) {
  return (code >= 'a'.charCodeAt(0) &&
          code <= 'z'.charCodeAt(0)) ||
         (code >= 'A'.charCodeAt(0) &&
          code <= 'Z'.charCodeAt(0));
}

function isLetter(s) {
  return (s.length != 1) ? false : isLetterCode(s.charCodeAt(0));
}

/**
 * Updates other text boxes with the same cipher char as the one typed into.
 */
function onKeyDown(cipherChar, userCharCode, currentBoxIndex) {
  // Get all the boxes having a class equal to the cipher char.
  var boxes = $$('input.' + cipherChar);
  var userChar;
  if (userCharCode == BACKSPACE || userCharCode == IPHONE_BACKSPACE) {
    userChar = ' ';
  } else if (userCharCode == SHIFT_TAB || userCharCode == TAB) {
    return true;
  } else {
    userChar = String.fromCharCode(userCharCode).toUpperCase();
  }

  // Update all text boxes that have the same cipher char.
  if (isLetterCode(userCharCode) || userChar == ' ') {
    for (var i = 0; i < boxes.length; i++) {
      var box = boxes[i];
      box.value = userChar;
    }
  }

  var boxToFocus = null;

  // Move to the next text box if the key was spacebar or a letter or right
  // arrow.
  if (isLetterCode(userCharCode) || userCharCode == SPACE ||
      userCharCode == RIGHT_ARROW) {
    var boxToFocus = $('box' + (currentBoxIndex + 1))
  }
  
  // Move back on backspace or left arrow.
  if (userCharCode == BACKSPACE || userCharCode == LEFT_ARROW) {
    var boxToFocus = $('box' + (currentBoxIndex - 1))
  }
  
  if (boxToFocus) {
    boxToFocus.focus();
  }

  // Return false to prevent lowercase letters or punctuation from getting in.
  return false;
}

/**
 * Converts maps like {'A':'B', 'Z':'X'} to strings like 'ABZX'.
 */
function convertEncodingMapToString(map) {
  var encodingMapParts = [];
  for (var fromLetter in map) {
    encodingMapParts.push(fromLetter);
    encodingMapParts.push(map[fromLetter]);
  }
  return encodingMapParts.join('');
}

function isAlphaCode(code) {
  return (('a'.charCodeAt(0) <= code && code <= 'z'.charCodeAt(0))
       || ('A'.charCodeAt(0) <= code && code <= 'Z'.charCodeAt(0)));
}

/**
 * Gets all links that aren't JavaScript or mailto.
 */
function getNonJavaScriptLinks() {
  var result = [];
  var links = document.getElementsByTagName('a');
  for (var i = 0; i < links.length; i++) {
    var href = links[i].href;
    if (!href.match(/^javascript:/) && !href.match(/^mailto:/)) {
      result.push(links[i]);
    }
  }
  return result;
}

/**
 * Returns true if two lists (arrays) have identical elements.
 */
function listsEqual(a, b) {
  if (a.length != b.length) {
    return false;
  }
  for (var i = 0; i < a.length; i++) {
    if (a[i] != b[i]) {
      return false;
    }
  }
  return true;
}

/**
 * Returns the letters in conflict.
 */
function getConflictLetters(encodingMap) {
  var result = {};
  var histo = {};
  for (var x in encodingMap) {
    var y = encodingMap[x];
    histo[y] = (histo[y] || 0) + 1;
    if (histo[y] >= 2) {
      result[y] = true;
    }
  }
  return result;
}
</script>
  <script type="text/javascript">
    function goToPuzzle(relativeUrl) {
      if (relativeUrl) {
        window.location = getBaseUrl(window.location) + relativeUrl;
      }
    }
  </script>
</body>
</html>
