<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content=
"Swyzl is a word puzzle game where you unscramble a secret message by guessing the hidden letter-to-letter code." />
<meta name="keywords" content="puzzle, word puzzle, crypto, cryptology" />
<meta name="viewport" content=
  "width=800; initial-scale=0.4; maximum-scale=1.0; user-scalable=1;" />
<link href="/media/all.css" rel="stylesheet" type="text/css" />
<!--[if lt IE 7]><link href="media/ie.css" rel="stylesheet" type="text/css" /><![endif]-->
  
  <style>
    h2 { margin-top:.3em;}
    li {
      float:left;
      text-align:right;
      font-size:4em;
      margin-bottom:.25em;
      margin-top:.25em;
      margin-left:.7em;
      min-width:1.3em;
    }
    div.float_cleaner { clear:both; }
    *.link_to_tips { font-size:2.5em; }
  </style>
  <title>Swyzl</title>
</head>
<body>
  <h1>Swyzl</h1>
  <br/>
  <div class="pack_set">
  
    <div class="pack">
      <h2>Country Capital Cryptos</h2>
      <div class="table_of_contents">
        <ul>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGJcDDA">1</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGJgDDA">2</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGJkDDA">3</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGJoDDA">4</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGJsDDA">5</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGJwDDA">6</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGJ0DDA">7</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGJ4DDA">8</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGJ8DDA">9</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGKADDA">10</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGKEDDA">11</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGKIDDA">12</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGKMDDA">13</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGKQDDA">14</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGKUDDA">15</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGKYDDA">16</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGKcDDA">17</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGKgDDA">18</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGKkDDA">19</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGKoDDA">20</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGKsDDA">21</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGKwDDA">22</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGK0DDA">23</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGK4DDA">24</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGK8DDA">25</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGLADDA">26</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGLEDDA">27</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGLIDDA">28</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGLMDDA">29</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGLQDDA">30</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGLUDDA">31</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGLYDDA">32</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGLcDDA">33</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGLgDDA">34</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGLkDDA">35</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGLoDDA">36</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGLsDDA">37</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGLwDDA">38</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGL0DDA">39</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGL4DDA">40</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGL8DDA">41</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGMADDA">42</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGMEDDA">43</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGMIDDA">44</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGMMDDA">45</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGMQDDA">46</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGMUDDA">47</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGMYDDA">48</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGMcDDA">49</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGMgDDA">50</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGMkDDA">51</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGMoDDA">52</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGMsDDA">53</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGMwDDA">54</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGM0DDA">55</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGM4DDA">56</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGM8DDA">57</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGNADDA">58</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGNEDDA">59</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGNIDDA">60</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGNMDDA">61</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGNQDDA">62</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGNUDDA">63</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGNYDDA">64</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGNcDDA">65</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGNgDDA">66</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGNkDDA">67</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGNoDDA">68</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGNsDDA">69</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGNwDDA">70</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGN0DDA">71</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGN4DDA">72</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGN8DDA">73</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGOADDA">74</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGOEDDA">75</a></li>
        
        </ul>
        <div class="float_cleaner"></div>
      </div>
    </div>
    <br/>
  
    <div class="pack">
      <h2>Jewels</h2>
      <div class="table_of_contents">
        <ul>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGOIDDA">1</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGOMDDA">2</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGOQDDA">3</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGOUDDA">4</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGOYDDA">5</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGOcDDA">6</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGOgDDA">7</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGOkDDA">8</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGOoDDA">9</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGOsDDA">10</a></li>
        
        </ul>
        <div class="float_cleaner"></div>
      </div>
    </div>
    <br/>
  
    <div class="pack">
      <h2>Presidential Cryptograms</h2>
      <div class="table_of_contents">
        <ul>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGPIDDA">1</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGPMDDA">2</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGPQDDA">3</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGPUDDA">4</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGPYDDA">5</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGPcDDA">6</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGPgDDA">7</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGPkDDA">8</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGPoDDA">9</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGPsDDA">10</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGPwDDA">11</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGP0DDA">12</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGP4DDA">13</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGP8DDA">14</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGIAEDA">15</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGIEEDA">16</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGIIEDA">17</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGIMEDA">18</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGIQEDA">19</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGIUEDA">20</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGIYEDA">21</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGIcEDA">22</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGIgEDA">23</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGIkEDA">24</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGIoEDA">25</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGIsEDA">26</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGIwEDA">27</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGI0EDA">28</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGI4EDA">29</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGI8EDA">30</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGJAEDA">31</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGJEEDA">32</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGJIEDA">33</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGJMEDA">34</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGJQEDA">35</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGJUEDA">36</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGJYEDA">37</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGJcEDA">38</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGJgEDA">39</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGJkEDA">40</a></li>
        
          <li><a href="/puzzle/agVzd3l6bHINCxIGUHV6emxlGJoEDA">41</a></li>
        
        </ul>
        <div class="float_cleaner"></div>
      </div>
    </div>
    <br/>
  
  </div>
  <br/>
  <h2>Introduction</h2>
  <p>Julia was puzzled by many things, but not by puzzles. She would arrange the letters in her mind as 
	she lay in bed, then spoke them to her computer once she arose. None of the puzzles here were 
	machine generated. They are the thoughtful result of an active mind, keen on her task to the very end. </p>
  <br/>
  <p>We hope that you enjoy solving them as much as she enjoyed writing them. Choose from the books above to get started.</p>
  <br/> 
  <p>If you aren't sure what a Cryptogram is, check out our <span class="link_to_tips"><a href="tips">tips</a></span>.</p>
  <br/>
  <div>
    <a href="/about">Credits</a> | <a href="mailto:issac.trotts+swyzl@gmail.com">Feedback</a>
  </div>
</body>
</html>
