{% include "doctype" %}
<html>
<head>
  {% include "head" %}  
  <style>
    h2 { margin-top:.3em;}
    li {
      float:left;
      text-align:right;
      font-size:4em;
      margin-bottom:.25em;
      margin-top:.25em;
      margin-left:.7em;
      min-width:1.3em;
    }
    div.float_cleaner { clear:both; }
    *.link_to_tips { font-size:2.5em; }
  </style>
  <title>Swyzl</title>
</head>
<body>
  <h1>Swyzl</h1>
  <br/>
  <div class="pack_set">
  {% for pack in packs %}
    <div class="pack">
      <h2>{{ pack.title }}</h2>
      <div class="table_of_contents">
        <ul>
        {% for puzzle in pack.puzzles %}
          <li><a href="{{ puzzle.relative_url }}">{{ puzzle.name }}</a></li>
        {% endfor %}
        </ul>
        <div class="float_cleaner"></div>
      </div>
    </div>
    <br/>
  {% endfor %}
  </div>
  <br/>
  <h2>Introduction</h2>
  <p>Julia was puzzled by many things, but not by puzzles. She would arrange the letters in her mind as 
	she lay in bed, then spoke them to her computer once she arose. None of the puzzles here were 
	machine generated. They are the thoughtful result of an active mind, keen on her task to the very end. </p>
  <br/>
  <p>We hope that you enjoy solving them as much as she enjoyed writing them. Choose from the books above to get started.</p>
  <br/> 
  <p>If you aren't sure what a Cryptogram is, check out our <span class="link_to_tips"><a href="tips">tips</a></span>.</p>
  <br/>
  <div>
    <a href="/about">Credits</a> | <a href="mailto:issac.trotts+swyzl@gmail.com">Feedback</a>
  </div>
</body>
</html>
