{% include "doctype" %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" content=
  "Swyzl is a word puzzle game where you unscramble a secret message by guessing the hidden letter-to-letter code." />
  <meta name="keywords" content=
  "puzzle, word puzzle, crypto, cryptology" />
  <meta name="viewport" content=
  "width=device-width; initial-scale=1.0; maximum-scale=2.5; user-scalable=1;" />
  <link href="media/all.css" rel="stylesheet" type="text/css" />
  <!--[if lt IE 7]><link href="media/ie.css" rel="stylesheet" type="text/css" /><![endif]-->
  <title>SWYZL</title>
  
  <style>
    p { font-size: 1.5em; }
    h2 { font-size:3em; color:#d26f2c; font-weight:normal;}
    *.link_to_puzzle, *.link_to_tips { font-size:2.5em; }
  </style>
</head>
<body>
  <h1>Swyzl</h1>
  <br/>
  <div class="pack_set">
  {% for pack in packs %}
    <div class="pack">
      <h2>{{ pack.title }}</h2>
      <div class="table_of_contents">
        {% for puzzle in pack.puzzles %}
          <span class="link_to_puzzle">
            <a href="{{ puzzle.relative_url }}">{{ puzzle.name }}</a>
          </span>
        {% endfor %}
      </div>
    </div>
    <br/>
  {% endfor %}
  </div>
  <br/>
  <h2>Intro</h2>
  <p>Julia was puzzled by many things, but not by puzzles. She would arrange the letters in her mind as 
	she lay in bed, then spoke them to her computer once she arose. None of the puzzles here were 
	machine generated. They are the thoughtful result of an active mind, keen on her task to the very end. </p>
  <br/>
  <p>We hope that you enjoy solving them as much as she enjoyed writing them. Choose from the books above to get started.</p>
  <br/> 
  <p>If you aren't sure what a Cryptogram is, check out our <span class="link_to_tips"><a href="tips">tips</a></span>.</p>
  <br/>
  <div>
    <a href="/about">About</a> | <a href="mailto:issac.trotts+swyzl@gmail.com">Feedback</a>
  </div>
</body>
</html>
