<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content=
"Swyzl is a word puzzle game where you unscramble a secret message by guessing the hidden letter-to-letter code." />
<meta name="keywords" content="puzzle, word puzzle, crypto, cryptology" />
<meta name="viewport" content=
  "width=800; initial-scale=0.4; maximum-scale=1.0; user-scalable=1;" />
<link href="/media/all.css" rel="stylesheet" type="text/css" />
<!--[if lt IE 7]><link href="media/ie.css" rel="stylesheet" type="text/css" /><![endif]-->
  
  <style>
    h2 { margin-top:.3em;}
    li {
      float:left;
      text-align:right;
      font-size:4em;
      margin-bottom:.25em;
      margin-top:.25em;
      margin-left:.7em;
      min-width:1.3em;
    }
    div.float_cleaner { clear:both; }
    *.link_to_tips { font-size:2.5em; }
  </style>
  <title>Swyzl</title>
</head>
<body>
  <h1>Swyzl</h1>
  <br/>
  <div class="pack_set">
  
    <div class="pack">
      <h2>Country Capital Cryptos</h2>
      <div class="table_of_contents">
        <ul>
        
          <li><a href="/puzzle/1/1">1</a></li>
        
          <li><a href="/puzzle/1/2">2</a></li>
        
          <li><a href="/puzzle/1/3">3</a></li>
        
          <li><a href="/puzzle/1/4">4</a></li>
        
          <li><a href="/puzzle/1/5">5</a></li>
        
          <li><a href="/puzzle/1/6">6</a></li>
        
          <li><a href="/puzzle/1/7">7</a></li>
        
          <li><a href="/puzzle/1/8">8</a></li>
        
          <li><a href="/puzzle/1/9">9</a></li>
        
          <li><a href="/puzzle/1/10">10</a></li>
        
          <li><a href="/puzzle/1/11">11</a></li>
        
          <li><a href="/puzzle/1/12">12</a></li>
        
          <li><a href="/puzzle/1/13">13</a></li>
        
          <li><a href="/puzzle/1/14">14</a></li>
        
          <li><a href="/puzzle/1/15">15</a></li>
        
          <li><a href="/puzzle/1/16">16</a></li>
        
          <li><a href="/puzzle/1/17">17</a></li>
        
          <li><a href="/puzzle/1/18">18</a></li>
        
          <li><a href="/puzzle/1/19">19</a></li>
        
          <li><a href="/puzzle/1/20">20</a></li>
        
          <li><a href="/puzzle/1/21">21</a></li>
        
          <li><a href="/puzzle/1/22">22</a></li>
        
          <li><a href="/puzzle/1/23">23</a></li>
        
          <li><a href="/puzzle/1/24">24</a></li>
        
          <li><a href="/puzzle/1/25">25</a></li>
        
          <li><a href="/puzzle/1/26">26</a></li>
        
          <li><a href="/puzzle/1/27">27</a></li>
        
          <li><a href="/puzzle/1/28">28</a></li>
        
          <li><a href="/puzzle/1/29">29</a></li>
        
          <li><a href="/puzzle/1/30">30</a></li>
        
          <li><a href="/puzzle/1/31">31</a></li>
        
          <li><a href="/puzzle/1/32">32</a></li>
        
          <li><a href="/puzzle/1/33">33</a></li>
        
          <li><a href="/puzzle/1/34">34</a></li>
        
          <li><a href="/puzzle/1/35">35</a></li>
        
          <li><a href="/puzzle/1/36">36</a></li>
        
          <li><a href="/puzzle/1/37">37</a></li>
        
          <li><a href="/puzzle/1/38">38</a></li>
        
          <li><a href="/puzzle/1/39">39</a></li>
        
          <li><a href="/puzzle/1/40">40</a></li>
        
          <li><a href="/puzzle/1/41">41</a></li>
        
          <li><a href="/puzzle/1/42">42</a></li>
        
          <li><a href="/puzzle/1/43">43</a></li>
        
          <li><a href="/puzzle/1/44">44</a></li>
        
          <li><a href="/puzzle/1/45">45</a></li>
        
          <li><a href="/puzzle/1/46">46</a></li>
        
          <li><a href="/puzzle/1/47">47</a></li>
        
          <li><a href="/puzzle/1/48">48</a></li>
        
          <li><a href="/puzzle/1/49">49</a></li>
        
          <li><a href="/puzzle/1/50">50</a></li>
        
          <li><a href="/puzzle/1/51">51</a></li>
        
          <li><a href="/puzzle/1/52">52</a></li>
        
          <li><a href="/puzzle/1/53">53</a></li>
        
          <li><a href="/puzzle/1/54">54</a></li>
        
          <li><a href="/puzzle/1/55">55</a></li>
        
          <li><a href="/puzzle/1/56">56</a></li>
        
          <li><a href="/puzzle/1/57">57</a></li>
        
          <li><a href="/puzzle/1/58">58</a></li>
        
          <li><a href="/puzzle/1/59">59</a></li>
        
          <li><a href="/puzzle/1/60">60</a></li>
        
          <li><a href="/puzzle/1/61">61</a></li>
        
          <li><a href="/puzzle/1/62">62</a></li>
        
          <li><a href="/puzzle/1/63">63</a></li>
        
          <li><a href="/puzzle/1/64">64</a></li>
        
          <li><a href="/puzzle/1/65">65</a></li>
        
          <li><a href="/puzzle/1/66">66</a></li>
        
          <li><a href="/puzzle/1/67">67</a></li>
        
          <li><a href="/puzzle/1/68">68</a></li>
        
          <li><a href="/puzzle/1/69">69</a></li>
        
          <li><a href="/puzzle/1/70">70</a></li>
        
          <li><a href="/puzzle/1/71">71</a></li>
        
          <li><a href="/puzzle/1/72">72</a></li>
        
          <li><a href="/puzzle/1/73">73</a></li>
        
          <li><a href="/puzzle/1/74">74</a></li>
        
          <li><a href="/puzzle/1/75">75</a></li>
        
        </ul>
        <div class="float_cleaner"></div>
      </div>
    </div>
    <br/>
  
    <div class="pack">
      <h2>Jewels</h2>
      <div class="table_of_contents">
        <ul>
        
          <li><a href="/puzzle/2/1">1</a></li>
        
          <li><a href="/puzzle/2/2">2</a></li>
        
          <li><a href="/puzzle/2/3">3</a></li>
        
          <li><a href="/puzzle/2/4">4</a></li>
        
          <li><a href="/puzzle/2/5">5</a></li>
        
          <li><a href="/puzzle/2/6">6</a></li>
        
          <li><a href="/puzzle/2/7">7</a></li>
        
          <li><a href="/puzzle/2/8">8</a></li>
        
          <li><a href="/puzzle/2/9">9</a></li>
        
          <li><a href="/puzzle/2/10">10</a></li>
        
        </ul>
        <div class="float_cleaner"></div>
      </div>
    </div>
    <br/>
  
    <div class="pack">
      <h2>Presidential Cryptograms</h2>
      <div class="table_of_contents">
        <ul>
        
          <li><a href="/puzzle/3/1">1</a></li>
        
          <li><a href="/puzzle/3/2">2</a></li>
        
          <li><a href="/puzzle/3/3">3</a></li>
        
          <li><a href="/puzzle/3/4">4</a></li>
        
          <li><a href="/puzzle/3/5">5</a></li>
        
          <li><a href="/puzzle/3/6">6</a></li>
        
          <li><a href="/puzzle/3/7">7</a></li>
        
          <li><a href="/puzzle/3/8">8</a></li>
        
          <li><a href="/puzzle/3/9">9</a></li>
        
          <li><a href="/puzzle/3/10">10</a></li>
        
          <li><a href="/puzzle/3/11">11</a></li>
        
          <li><a href="/puzzle/3/12">12</a></li>
        
          <li><a href="/puzzle/3/13">13</a></li>
        
          <li><a href="/puzzle/3/14">14</a></li>
        
          <li><a href="/puzzle/3/15">15</a></li>
        
          <li><a href="/puzzle/3/16">16</a></li>
        
          <li><a href="/puzzle/3/17">17</a></li>
        
          <li><a href="/puzzle/3/18">18</a></li>
        
          <li><a href="/puzzle/3/19">19</a></li>
        
          <li><a href="/puzzle/3/20">20</a></li>
        
          <li><a href="/puzzle/3/21">21</a></li>
        
          <li><a href="/puzzle/3/22">22</a></li>
        
          <li><a href="/puzzle/3/23">23</a></li>
        
          <li><a href="/puzzle/3/24">24</a></li>
        
          <li><a href="/puzzle/3/25">25</a></li>
        
          <li><a href="/puzzle/3/26">26</a></li>
        
          <li><a href="/puzzle/3/27">27</a></li>
        
          <li><a href="/puzzle/3/28">28</a></li>
        
          <li><a href="/puzzle/3/29">29</a></li>
        
          <li><a href="/puzzle/3/30">30</a></li>
        
          <li><a href="/puzzle/3/31">31</a></li>
        
          <li><a href="/puzzle/3/32">32</a></li>
        
          <li><a href="/puzzle/3/33">33</a></li>
        
          <li><a href="/puzzle/3/34">34</a></li>
        
          <li><a href="/puzzle/3/35">35</a></li>
        
          <li><a href="/puzzle/3/36">36</a></li>
        
          <li><a href="/puzzle/3/37">37</a></li>
        
          <li><a href="/puzzle/3/38">38</a></li>
        
          <li><a href="/puzzle/3/39">39</a></li>
        
          <li><a href="/puzzle/3/40">40</a></li>
        
          <li><a href="/puzzle/3/41">41</a></li>
        
        </ul>
        <div class="float_cleaner"></div>
      </div>
    </div>
    <br/>
  
  </div>
  <br/>
  <h2>Introduction</h2>
  <p>Julia was puzzled by many things, but not by puzzles. She would arrange the letters in her mind as 
	she lay in bed, then spoke them to her computer once she arose. None of the puzzles here were 
	machine generated. They are the thoughtful result of an active mind, keen on her task to the very end. </p>
  <br/>
  <p>We hope that you enjoy solving them as much as she enjoyed writing them. Choose from the books above to get started.</p>
  <br/> 
  <p>If you aren't sure what a Cryptogram is, check out our <span class="link_to_tips"><a href="tips">tips</a></span>.</p>
  <br/>
  <div>
    <a href="/about">Credits</a> | <a href="mailto:issac.trotts+swyzl@gmail.com">Feedback</a>
  </div>
</body>
</html>
