THIS FILE IS DEPRECATED.
It is only being kept around until we move its contents to other files.

{% include "doctype" %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  {% include "head" %}
  <style type="text/css" media="screen">
    {% include "puzzle.css" %}
  </style>
  <title>SWYZL</title>
</head>
<body onload="init();">
  <div id="main">
    <div id="header">
      <strong class="logo"><a href="javascript:goHome()">SWYZL</a></strong>
      <ul class="topmenu">
        <li><a id="login" class="final" href="{{ log_inout_url }}">{{ log_inout_link_text }}</a></li>
        <li><a href="javascript:setContentTo('/about')">About SWYZL</a></li>
        <li><a href="mailto:issac.trotts+swyzl@gmail.com">Feedback</a></li>
      </ul>
      <ul class="mainmenu">
        <li><a id="tab-play" href="javascript:playPuzzleOfTheDay()">Puzzle of the Day</a></li>
        <li><a id="tab-tips" href="javascript:tips()">Helpful Tips</a></li>
      </ul>
    </div>
    <div class="container">
      <div id="content">
      </div>
      <div id="column">
        <div class="box-top">
          <div class="box-bottom">
            <div class="box">
 
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="footer">
      <ul class="topmenu left">
        {% comment %}
        <li><a href="javascript:setContentTo('/')">Home</a></li>
        {% endcomment %}
        <li><a href="javascript:playPuzzleOfTheDay()">Puzzle of the Day</a></li>
        <li><a href="javascript:tips()">Helpful Tips</a></li>
      </ul>
      <ul class="topmenu">
        <li><a id="login" class="final" href="{{ log_inout_url }}">{{ log_inout_link_text }}</a></li>
        <li><a href="javascript:setContentTo('/about')">About SWYZL</a></li>
        <li><a href="mailto:issac.trotts+swyzl@gmail.com">Feedback</a></li>
      </ul>
    </div>
  </div>
  <script type="text/javascript" charset="utf-8" src="/media/scriptaculous-js-1.8.1/lib/prototype.js"></script>
  <script type="text/javascript" charset="utf-8" src="/media/scriptaculous-js-1.8.1/src/scriptaculous.js"></script>
</body>
</html>


