{% include "doctype" %}
<!-- You can run this test by just opening this file in your browser.
     It doesn't have to be served by a server. -->
<html>
<head>
  <title>script.aculo.us Unit test file</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <script src="../media/scriptaculous-js-1.8.1/lib/prototype.js" type="text/javascript"></script>
  <script src="../media/scriptaculous-js-1.8.1/src/scriptaculous.js?load=effects,dragdrop" type="text/javascript"></script>
  <script src="../media/scriptaculous-js-1.8.1/src/unittest.js" type="text/javascript"></script>
  <script src="utils.js" type="text/javascript"></script>
  <script src="make_puzzle_static.js" type="text/javascript"></script>
  <link rel="stylesheet" href="../test.css" type="text/css" />
</head>
<body>
<h1>Swyzl js utils unit test</h1>

<!-- Log output -->
<div id="testlog"> </div>

<!-- Tests follow -->
<script type="text/javascript" language="javascript" charset="utf-8">
// <![CDATA[

  new Test.Unit.Runner({
    testHighlightConflictingLetters: function() { with(this) {
      var encodingMap = {'A': 'B', 'B': 'B'};
      var input = document.createElement('input');
      document.body.appendChild(input);
      input.setAttribute('type', 'text');
      input.setAttribute('value', 'B');
      assertEqual('text', input.getAttribute('type'));
      assertEqual(null, input.getAttribute('class'));
      highlightConflictingLetters(encodingMap);
      assertEqual('conflict', input.getAttribute('class'));
    }}
  }, "testlog");
// ]]>
</script>
</body>
</html>