
.space {
  min-width: 1em;
  min-height: 1em;
}

.letter { margin-left: .3em; }

#message, #puzzle { width: 50em; }

#short_clue { width: 5em; }

#tags { width: 25em; }

/* Get a flat look for the text boxes. */
#message, #puzzle, #tags_field, #long_clue { border: 1px solid #aaa; }
#message { width:99%; }
#label_adding_prompt { border: 1px solid #888; }
#label_adding_drop_down { display:none; }
#message_prompt, #cipher_prompt, #clue, #labels_caption, #buttons { margin-top: 1em; }
#cipher_text { color: #888; border: 1px solid #888; }
#clear_button { margin-top: .2em; }
#clear_div { clear:left; }
#clue_prompt { float:left; }
#clue_field { border: 1px solid #888 ; }
#labels_outer { clear:left; margin-top:0.625em; }
#alert { margin-top:0.6em; color:#e44; }
#save_button_div, #or_div, #publish_button_div { float:left; margin-left:0.625em; vertical-align: bottom; }
#tags_div { margin-top:0.625em; }
/* Clear the effect of float:left. */
hr { display: block; clear: left; margin: 0; visibility: hidden; }
td.letter { color:#a88 }

div.autocomplete {
  margin:0px;  
  padding:0px;  
  width:250px;
  background:#fff;
  border:1px solid #888;
  position:absolute;
}

div.autocomplete ul {
  margin:0px;
  padding:0px;
  list-style-type:none;
}

div.autocomplete ul li.selected { 
  background-color:#ffb;
}

div.autocomplete ul li {
  margin:0;
  padding:2px;
  height:32px;
  display:block;
  list-style-type:none;
  cursor:pointer;
}