{% include "doctype" %}
<html>
<head>
  {% include "head" %}
  <style type="text/css" media="screen">
    {% include "puzzle.css" %}
  </style>
  <title>Swyzl {{ title }}</title>
</head>
  <body>
    <h1><a href="/">Swyzl</a></h1><br/>

    <div id="puzzle_div">
      <div id="title_div">
        {{ title }}
      </div>
      <div id="short_clue_div">
        {% if puzzle.short_clue %}
          Clue: {{ puzzle.short_clue }}
        {% endif %}
      </div>
      <div id="intro">
        {{ intro }}
      </div>
      <div id="words_div">
        {% for word_html in word_htmls %}
          {{ word_html }}
        {% endfor %}
      </div>
      <div id="long_clue_div">
        {% if puzzle.long_clue %}
          {{ puzzle.long_clue }}
        {% endif %}
      </div>
      <a class="done_button" href="javascript:onDone('{{ puzzle.key }}')">Done</a>
    </div>
    

    <script type="text/javascript" charset="utf-8"
      src="https://ajax.googleapis.com/ajax/libs/prototype/1.7.1.0/prototype.js"></script>
    <script type="text/javascript" charset="utf-8"
      src="https://ajax.googleapis.com/ajax/libs/scriptaculous/1.9.0/scriptaculous.js"></script>
    <script type="text/javascript" charset="utf-8">
      // Swyzl's namespace
      var swyzl = {};
{% include "puzzle.js" %}
{% include "utils.js" %}
    </script>
  </body>
</html>
