
.boxOnLetter {
  width: 1em;
  height: 1em;
  float: left;
  padding-left: 0.2em;
  margin-right: 1em;
}

.alphabetArea {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5em;
}

.letter, .letterInput, .wordSpace, .SwyzlTextBox,
    .SwyzlTextBox_solved {
  font-size: 20pt;
  font-family:monospace;
  font-weight: bold;
}

.letter {
  color: #818378;
}

.alphabetArea .letter {
  color: #B40435;
}

.alphabetArea table {
  margin-left:auto;margin-right:auto;
}

.clue {
  font-size: 12pt;
  margin-top: 1em;
  color: #B45704;
  padding-bottom: 1.8em;
}

.wordSpace {
  float: left;
  width: 1em;
  height: 1em;
}  

.SwyzlTextBox, .SwyzlTextBox_solved {
  vertical-align: center;
  text-align: center;
  width: 1em;
  height: 1.2em;
}

.SwyzlTextBox_solved {
  background-color: white;
  border: none;
  color: black;
}

.SwyzlTextBox {
  border: 1px solid #aaa;
}

.inputBoxAlert {
  color: red;
}

.categoryTitle {
  padding-top: .5em;
  white-space: nowrap;
  float: right;
}

.letter {
  margin-left: .3em;
}

*.noborder { border:none; }

.space {
  min-width: 1em;
  min-height: 1em;
}

#done_button_div, #long_clue_div {
  clear: left;
}

#done_button_div {
  margin-top:1em;
  font-size:2.3em;
  font-weight:bold;
}

#intro {
  margin-bottom: .75em;
}

#title_div, #short_clue_div, #intro {
  font-size:1.8em;
}

#long_clue_div {
  margin-bottom: .2em;
}
