{% include "doctype" %}
<html>
<head>
  {% include "head" %}
  <style type="text/css" media="screen">
    {% include "puzzle.css" %}
  </style>
  <title>SWYZL</title>
</head>
<body>
  <h1><a href="/">Swyzl</a></h1><br/>
  <p>Cryptograms are word puzzles where a secret message has been scrambled by replacing one letter with 
  another consistently throughout.  For example, "A" goes to "P", "B" goes to "H" and so on.  The
  spacing and punctuation stay the same.</p>
  <br/>
  <p>Here are some tips for solving these puzzles:</p>
  <table border="0" cellspacing="20" cellpadding="20">
    <tr><th>Look for</th><th>Could be</th></tr>
    <tr><td>Single letters</td><td>A or I</td></tr>
    <tr><td>Contractions</td>
        <td>It's, isn't, don't, won't, can't, I'll, I've, I'm, I'd, he's, it's,
             didn't, shouldn't, wouldn't, couldn't, etc.</td></tr>
    <tr><td>Four letter words that begin and end with the same letter</td><td>That, high, else, bomb, died, dead, etc.</td></tr>                               
    <tr><td>Four letter words with the same two letters in the middle</td>
        <td>Many times the two letters in the middle are "e" or "o".
          There are exceptions such as "eggs" or "odds."</td></tr>
    <tr><td>Words with discernible patterns</td>
        <td>There, where, even, ever, always, people, between, little, etc.</td></tr>
  </table>
</body>
</html>
